apiVersion: apps/v1
kind: Deployment
metadata:
  name: nexus-backend
spec:
  replicas: 1
  selector:
    matchLabels:
      app: backend
  template:
    metadata:
      labels:
        app: backend
    spec:
      containers:
      - name: backend
        image: nexus-backend:latest
        imagePullPolicy: IfNotPresent
        ports:
        - containerPort: 8000
        envFrom:
        - secretRef:
            name: nexus-secrets
        - configMapRef:
            name: nexus-config
        
        env:
        - name: AWS_ACCESS_KEY_ID
          value: "minioadmin"    

        - name: AWS_SECRET_ACCESS_KEY
          value: "minioadmin"

        - name: MINIO_STORAGE_BUCKET_NAME
          value: "nexus-drive-bucket"
          
        - name: AWS_S3_ENDPOINT_URL
          value: "http://minio:9000"

        - name: AWS_S3_ADDRESSING_STYLE 
          value: "path"
        - name: AWS_S3_USE_SSL 
          value: "false"

        - name: AWS_S3_REGION_NAME      
          value: ""
        - name: AWS_S3_SIGNATURE_VERSION 
          value: "s3v4"

        resources:
          requests:
            memory: "512Mi"
            cpu: "500m"
          limits:
            memory: "1Gi"
            cpu: "1000m"
---
apiVersion: v1
kind: Service
metadata:
  name: backend
spec:
  type: LoadBalancer
  selector:
    app: backend
  ports:
    - protocol: TCP
      port: 8000
      targetPort: 8000